//Color Schema
    $backgroundColor: rgba(75, 76, 82, 0.699);
    $secondaryBackgroundColor: #212529;
    $platinum: grey;

//Font Collections
    $sansFont: Poppins,sans-serif;
    $serifFont: 'Playfair Display', serif;




