//Color Schema
    $backgroundColor: rgb(120, 121, 126);
    $secondaryBackgroundColor: #212529;
    $platinum: grey;

//Font Collections
    $sansFont: Poppins,sans-serif;
    $serifFont: 'Playfair Display', serif;




