
//Base Page Styling
@forward 'forms';
@use 'variables' as vars;
@use 'mixins' as mixins;
//Universal Styling
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
#root{
    overflow-x: hidden;
    font-family: vars.$sansFont;
    background-color: vars.$backgroundColor;
    min-height: 100vh;
}
#mainHolder{
    background-color: vars.$backgroundColor;
    min-height: 100vh;

}
.tab{
    display: inline-block;
    margin-left: 20px;
}












/*
.form{
    width: 80%;
    @include mixins.roundedboxShadow();
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: vars.$sansFont;
    margin-top: 60px;
    h1{
        text-transform: uppercase;
        padding: 40px;
        color: vars.$darkPurple;
    }
    .formGroup{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 30px;
        justify-content: center;
        label{
            text-transform: uppercase;
            width: 250px !important;
            margin-right: 20px;
            color: vars.$darkPurple;
            font-size: larger;
        }
        input{
            width: 600px;
        }
        .invalid-feedback{
            margin-left: 20px;
        }

    }
}
*/